.hero{
    background-image: url('./assets/home/background-home-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.destination{
    background-image: url('./assets/destination/background-destination-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.navbar-logo{
    position: relative;
}

.navbar-logo::after{
    content: '';
    position: absolute;
    width: 37vw;
    height: 1px;
    background-color: #979797;
    top:50%;
    left: 6rem;
    z-index: 10;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .hero{
        background-image: url('./assets/home/background-home-tablet.jpg');
    }
    .destination{
        background-image: url('./assets/destination/background-destination-tablet.jpg');
    }
}